body {

}

#container{
    width: 760px;
    height: auto;
    margin: auto;
}

#menu a{
    /*position: relative;*/
    /*background: url(about.gif);*/
    width: 84px;
    float: left;
    padding: 50px 0 0 0;
    height: 6px !important;
    background: no-repeat 0 0px;
}
#menu a[data-attribute = "about"]{
    width: 71px;
    background: url(img/meniu/about.gif);
    background-position: 0 -100px !important;
}
#menu a[data-attribute = "contact"]{
    width: 106px;
    background: url(img/meniu/contact.gif);
}

#menu a[data-attribute = "portfolio"]{
    width: 95px;
    background: url(img/meniu/portfolio.gif);
}

#menu a[data-attribute = "services"]{
    background: url(img/meniu/services.gif);
}

#menu a.selected{
    background-position: 0 0px;
}

#menu a.selected:hover {
    background-position: 0 -100px !important;

}

#menu a:hover{
    background-position: 0 -200px !important;
}

#menu{
    width: 760px;
    height: 50px;
}

header{
    position: relative;
    width: 760px;
    height: 150px;
    background-image: url(img/banner-curs.png);
    background-size: 100% 100%;
}

header form{
    width: 200px;
    position: absolute;
    right: 10px;
    bottom: 2px;
}

#content{
   box-shadow: 5px 5px 3px cadetblue;
    /*box-shadow:10px 10px 5px ;*/
    float: left;
    width: 450px;
    height:auto;
    min-height: 200px;
}

#sidebar{
    box-shadow: 5px 5px 3px #888888;
    float: right;
    width: 280px;
    height:auto;
    min-height: 200px;

}

@media(max-width: 600px){
    #sidebar {display:none}
}

#box{
    box-shadow: 10px 10px 5px #888888;
    background-color:azure;
    width: 240px;
    height:auto;
    /*margin-left:15px;*/
   <!-- border-radius:10px;-->

}
footer{
    background-color: aquamarine;
    width: 760px;
    height: 66px;
    /*clear: both;*/
}
footer a:hover{
    opacity: 0.5;
}

#logo{
    position: fixed;
    left: 5px;
    width: 760px;
    height: 66px;
}
.clear_fix{
    clear: both
}
